body{
  background-color: #eee;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: #888;
  margin: 0;
}

.container {
  width: 70%;
  margin: auto;
}

.col {
  margin: 0;
}

.header {
  background-color: #fff;
  padding : 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 25px;
}

h1{
  font-size: 200%;
  font-weight: 100;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

h3 {
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #c0392b;
}

form {
  margin: auto;
  margin-bottom: 30px;
}

form select {
  width: 100px;
  height: 35px;
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
  color: #888;
  border: 2px solid #16a085;
  border-radius: 5px;
  padding-bottom: 3px;
  outline: none;
  vertical-align: bottom;
  padding: 0 0 0 10px;
}

form input {
  width: 150px;
  height: 30px;
  border: 0;
  outline: none;
  color: #888;
  border: 2px solid #2ecc71;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 120%;
}



.exchanger-input {
  margin-right: 80px;
}
.exchanger-input-container,
.exchanger-output-container {
  display: inline-block;
}

.rates-container {
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  color: #16a085;
}

ul li {
  display: inline-block;
  margin-right: 20px;
}

.exchanger {
  text-align: center;
  background-color: #fff;
  margin-left: 35px;
  border-radius: 5px;
  padding: 10px;
}
